/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###

/.idea/
.idea
uploads
.DS_Store
*.iws
*.iml
*.ipr
*.log
*.bin

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/online-server/.idea/**
/online-server/src/main/resources/templates/
/online-server/src/main/resources/static/
/online-server/src/main/resources/fonts/
/online-server/src/main/java/org
/online-server/src/main/resources/application-prod.properties
/online-server/src/main/resources/data.sql
/online-server/src/main/resources/ehcache.xml
/online-server/src/main/resources/firebase_config.json
/online-server/src/main/resources/ehcache.xsd
/online-server/src/main/resources/hibernate.properties
/online-server/src/main/resources/keystore.p12
/online-server/src/main/resources/online.pdp.uz-keystore.p12
/online-server/src/main/resources/certificates


api.bin
tdlib
*.properties
